<ion-header class="ion-no-border">
  <div class="login-header ion-padding">
    <img class="logo-img" src="../../assets/images/logo.png">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Login</h1>
      <h2 small-heading>REGISTRO</h2>
    </div>
    <ion-label>
      Entre com suas credenciais para utilizar as funções do app.
    </ion-label>
    <ion-item transparent>
      <img icon-small src="../../assets/images/user.png">
      <ion-input type="text" placeholder="Usuário"></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icon-small src="../../assets/images/lock.png">
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-label class="forget-password">Perdeu sua Senha?</ion-label>

    <div linespace></div>

    <ion-button color="primary" expand="block" fill="solid" size="large">
      LOGIN
    </ion-button>
  </div>
</ion-content>