<ion-header class="ion-no-border">
  <div class="register-header ion-padding">
    <img class="logo-img" src="../../assets/images/logo.png">
  </div>
</ion-header>

<ion-content>
  <div class="center">
    <div heading-column-lr>
      <h1 big-heading>Registro</h1>
      <h2 small-heading routerLink="/login">ENTRADA</h2>
    </div>
    <ion-label>
      Registre-se para utilizar as funções do app.
    </ion-label>
    <ion-item transparent>
      <img icon-small src="../../assets/images/user.png">
      <ion-input type="text" placeholder="Usuário"></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icon-small src="../../assets/images/lock.png">
      <ion-input type="password" placeholder="Senha"></ion-input>
    </ion-item>
    <ion-item transparent>
      <img icon-small src="../../assets/images/lock.png">
      <ion-input type="password" placeholder="Confirme a Senha"></ion-input>
    </ion-item>

    <div linespace></div>

    <ion-button color="primary" expand="block" fill="solid" size="large" routerLink="/home">
      REGISTRAR
    </ion-button>
  </div>
</ion-content>